.navbar-brand img{
    height: 8vh;
    border-radius: 10px;
 
}

*{
    margin: 0;
    padding: 0;
   
}


.nav-item a{
    font-size: 30px;
    margin:0 10px;
    font-family: 'Paytone One', sans-serif;
   
}


.insta{
    color: #8a3ab9
}
.icons{
    color:red;
}

.carousel-inner img{
    height: 70vh;
    border-radius: 10px;
 
}

.row h1{
    font-family: 'Gloria Hallelujah', cursive;
    color:#FF7777 ;
    text-align: center;
    margin:50px 0;

   
}


.row img{
   height: 20vh;
   padding:20px;
   cursor:pointer;
   background-size: cover;
   border-radius: 30px;
   transition: transform 0.5;
}



.row img:hover{
transform: translateY(-10PX);
}

.firstRow{
  margin: 0 150px
}

.card-text audio{
    width:100%
}

.radio-player {
    margin: 30px;
  }
  .button {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: #F59E0B;
    color: #fff;
    border-radius: 100%;
  }
  .play-pause-button {
    width: 70px;
    height: 70px;
    font-size: 25px;
    margin-right: 24px;
  }
  .mute-button {
    width: 30px;
    height: 30px;
    margin-right: 12px;
  }

  .player-controls {
    display: inline-block;
    align-items: center;
  }
  .currently-playing {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
  }
  .volume-controls {
    display: flex;
    align-items: center;
  }

  .currently-playing-label {
    font-size: 12px;
    font-weight: 300;
}
.currently-playing-title {
    font-size: 22px;
}

.volume {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #000;
    border-radius: 50px;
    overflow: hidden; /* This will help with styling the thumb */
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
  
    height: 15px;
    width: 15px;
  
    cursor: ew-resize;
    background: #F59E0B;
    box-shadow: -400px 0 0 390px #FDE68A;
    border-radius: 50%;
  }
  
  input[type="range"]:focus {
    border-radius: 50px;
    box-shadow: 0 0 15px -4px #F59E0B;
  }


@media (max-width: 500px ){
    .row img{
        border-radius: 100px;
        padding: 8px;
     }
     .row h1{
         position: relative;
         bottom: 40px;
         left:10px
     }

     .col-lg-2{
    
       margin-left: 100px;
        
    }

     .carousel-inner img{
        height: 20vh;
    }
    .carousel{
        margin-bottom: 30px;
    }

    .nav-item a{
        font-size: 20px;
        margin:0 10px;
        text-align: center;
        
       
    }

    .firstRow{
       display: none;
      }

      #musicSection{
         position: relative;
         right: 100px;
      }

      #musicSection h1{
        position: relative;
        left: 100px;
     }

     .player-controls{
        position: relative;
       left: 8%;
       border:1px solid red
    }
      
}

.card{
  text-align: center;
}



